.logo {
  height: 95px;
  width: 249px;
  margin-top: 37px;
  margin-left: 50px;
}

.navbar {
  font-size: 25px;
  font-family: 'Lato' ;
  position: fixed;
  display: inline-flex;
  align-items: center;
  margin-top: 37px;
  margin-left: 350px;
  gap: 80px;

}

.navbar li {
  list-style-type: none;
  margin: 31px ;

}

.navbar li a {
  text-decoration: none;
  color: #4e683f;
}
