.logo {
  height: 95px;
  width: 249px;
  margin-top: 37px;
  margin-left: 34px;
}

.navbar {
  font-size: 25px;
  font-family: 'Lato' ;
  position: fixed;
  display: inline-flex;
  align-items: center;
  margin-top: 37px;
  margin-left: 484px;

}

.navbar li {
  list-style-type: none;
  margin: 31px ;

}

.navbar li a {
  text-decoration: none;
  color: #4e683f;
}

.landing_img {
  margin-left: 1100px;
  margin-top: 130px;
  height: 550px;
}