.navbar {
  display: flex;
  gap: 20vw;
}

.logo {
  width: 15vw;
  height: auto;
  margin: 1vw;
}

.navbar-right {
  display: inline-flex;
  margin-top: 3vw;
  gap: 5vw;
  font-size: 1.2vw;
}

.navbar-right li {
  list-style-type: none;
}

.navbar-right li a {
  text-decoration: none;
  color: #4e683f;
}

