.container-box{
    display: flex;
    margin-left: 10vw;
    margin-top: 1vw;
    gap: 7vw;
}

.asset {
    width: 43vw;
    height: auto;
    margin-top: 1vw;
}

.container-box-right {
    margin-top: 2vw;
    width: 28vw;
    height: 36vw;
    border-radius: 1.5vw;
    background:#FDFFF9;
    box-shadow: 35px 35px 100px 10px rgba(0, 0, 0, 0.25);
}

.register-card-content {
    display: flex;
    flex-direction: column;
}

.register {
    color: #4E683F;
    font-size: 3.3vw;
    font-family: 'lato';
    align-self: center;
    font-weight: 400;

}

.username-box, .email-box, .password-box{
    display: flex;
    flex-direction: column;
    margin-left: 2.2vw;
}

.username-box, .password-box{
    margin-top: 2vw;
}

.form_label {
    font-weight: 400;
    font-size: 1.2vw;
    color: rgba(0, 0, 0, 0.79);
}

.form_input {
    border-radius: 8px;
    border: 0;
    background: #F3F3F3;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
    width: 23vw;
    height: 3vw ;
}



.errMsg {
    color: red;
    font-size: 0.6vw;
    margin-bottom: 3.2vw;
    margin-top: -3.93vw;
    margin-left: 16vw;
}
.or-box{
display: flex;
color: #4E683F;
margin-bottom: -1vw;
}

.line {
    margin-top: 1.3vw;
    width: 7vw;
    height: 0vw;
}

.signin-button {
    margin-top: -0.4vw;
    width: 19vw;
    height: 2vw; 
    border-radius: 20px;
    background: white; 
    font-style: 'lato';
    font-size: 1vw;
    color: #4E683F;
    margin-left: 4.5vw;
    border-color: #4E683F;
}

.signup-button {
    width: 23vw;
    height: 3.3vw; 
    border-radius: 20px;
    background: #4E683F; 
    font-style: 'lato';
    font-size: 1.5vw;
    color: white;
    margin-left: 2.6vw;
    margin-top: 1vw;
}

.or-text {
    margin-top: 0.73vw;
    font-size: 1.5vw;
}
